.lin{
    padding: 0 200px;
    font-size: 30px;
    
}
.line{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: black;
    
}
.link--active{
    color: teal;
    font: bold;
}
.line:hover{
    text-decoration: underline;
    
}
body{
    background-color: rgb(33, 58, 58);
}
.whole-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-template-columns: auto auto; */
}
#bio-photo{
    width:35%;
   
    /* border: 2px solid black; */
}

.bio-pic{
    width: 60%;
    float: right;
   border-end-start-radius: 30%;
   border-start-end-radius: 30%;
    border: 20px solid transparent ;
    filter: drop-shadow(0px 0px 10px rgb(82, 57, 129))
    drop-shadow(0px 0px 5px rgb(36, 75, 112))
    drop-shadow(0px 0px 10px rgb(123, 57, 129))
    drop-shadow(0px 0px 5px rgb(29, 49, 49));
    
}
#start-bio{
    width:35%;
   translate: -5%;
}
.heading-content{
    padding-inline-start: 2%;
    font-size: 110%;
}
#start-bio #head-bio h1{
    font-size: 300%;
    margin-block: 1%;
    color: aliceblue;
    opacity: 0.6;
}
#start-bio #head-bio .hr{
    width: 70%;
}
.containers{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    row-gap: 6px;
    column-gap: 6px;
    padding-inline-start: 2%;
    
}
.skill{
    border: 3px dashed black;
    width:30%;
    text-align: center;
    Color:aliceblue;
    opacity: 0.6;
    border-radius: 10%;
}
.my-bio h2{
    color: aliceblue;
    opacity: 0.6;
}